<h1>All private events</h1>

<%# link to create new event %>
<%= link_to "Create New Event", new_event_path %>

<%# events %>
<% @events.each do |event| %>
    <hr>
        <%= render "event", event:event %>
        <%= link_to "view details", event %>
    <hr>
<% end %>
